.board.user-profile

	.avatar-col
		span.premium-icon(v-if="user && user.isPremium",
							id="diamond",
							@click="show_diamon_popup=!show_diamon_popup")
			i.hc.hc-diamond
				
		b-popover(v-if="user && user.isPremium",
					target="diamond",
                 	placement="bottomright",
                 	:show.sync="show_diamon_popup")
			.diamond-tooltip {{ $t('info.premium') }}
				.bottom-popover-line.text-right
					a {{ $t('links.more') }}

		.avatar-wrapper
			img(v-lazy="avatar")

	.user-info-wrapper
		.row-board
			.user-name {{ fullName }}
				i.device.hc(v-if="user && user.deviceType", :class="'hc-' + user.deviceType")
			.btn-control-wrapper
				button.btn-icon-circle(type="button",
										v-b-tooltip.hover,
										title="Добавить в избранное")
					i.hc.hc-pluse
				button.btn-icon-circle(type="button",
										v-b-tooltip.hover,
										title="Редактировать профиль")
					i.hc.hc-notes
				button.btn-icon-circle(type="button", v-b-tooltip.hover, title="Меню")
					i.hc.hc-option-dots
		.row-board.user-first-info 
			span(v-if="user && user.age") {{ user.age }} лет
			span(v-if="user && user.age") {{ user.zodiac }}
			span {{ locale }}
		
		.row-board.user-preference
			.key(v-if="user && user.lookingFor") Я ищу:
			.value(v-if="user && user.lookingFor")
				span(v-for="(item, index) in user.lookingFor", :key="index") {{ item }}

		.row-board.user-purposes
			.tabs-list
				button.item-tab(v-if="user && user.purposes", v-for="(item, index) in user.purposes", :key="index", type="button") {{ item }}

		.row-board.user-actions.justify-content-between
			button(type="button").btn-link
				i.hc.hc-chat-edit
				span Cообщение
			button(type="button").btn-link
				i.hc.hc-exchange
				span Обмен фото
			button(type="button").btn-link
				i.hc.hc-two-hearts
				span Проявить симпатию